@import "./partials/var.css";

:root {
  --color-1: lightblue;
}

body {
  background-color: var(--color-1);
}

.flex-container {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background-color: var(--color-2);
  border: 2px dotted black;
  margin: 2px;
}