<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Load Images</title>
</head>

<body>
  <img src="<%= require('./alice.jpg') %>">

  <!-- Background url image from style.css -->
  <div class="image-nebula"></div>

  <!-- Img src loaded from entry point index.js -->
  <img class="image-inferno">

  <%= require('./sun.svg') %>
</body>

</html>