:root {
  --image-width: 40vw;
}

img {
  display: block;
  max-width: var(--image-width);
}

.image-nebula {
  height: var(--image-width);
  max-width: var(--image-width);
  background-image: url("./nebula.jpg");
  background-size: cover;
  background-position: center;
}
